<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <script src="https://www.google.com/recaptcha/api.js?render=6LeJ0BAbAAAAAOW7T4kwpxNCKmwXtnUua1eior5-"></script>
  <title>Jon Covington - Developer</title>
</head>

<body class="bg-primary">
  <p>{{ load_modal }}</p>
 <div class="container">
   <header id="main-header">
     <div class="row no-gutters">
       <div class="col-lg-4 col-md-5">
          <img src="{{url_for('static', filename='img/profile.jpg')}}" alt="">
       </div>
       <div class="col-lg-8 col-md-7">
        <div class="d-flex flex-column">
          <div class="p-5 bg-dark text-white">
            <div class="d-flex flex-row justify-content-between align-items-center">
              <h1 class="display-4">Jon Covington</h1>
              <div class="d-none d-lg-block">
                <a href="https://www.linkedin.com/in/jon-covington-dev/" class="text-white">
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
              <div class="d-none d-lg-block">
                <a href="https://github.com/joncovington" class="text-white">
                  <i class="fab fa-github"></i>
                </a>
              </div>
              <div class="d-none d-lg-block">
                <a href="https://bitbucket.org/joncovington/" class="text-white">
                  <i class="fab fa-bitbucket"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="p-4 bg-black">
            Full Stack Web Developer
          </div>

          <div>
            <div class="d-flex flex-row text-white align-items-stretch text-center">
              <div class="port-item p-4 bg-primary border-0" data-toggle="collapse" data-target="#home">
                <i class="fas fa-home fa-2x d-block"></i>
                <span class="d-none d-sm-block">Home</span>
              </div>
              <div class="port-item p-4 bg-success border-0" data-toggle="collapse" data-target="#resume">
                <i class="fas fa-user-tie fa-2x d-block"></i>
                <span class="d-none d-sm-block">Resume</span>
              </div>
              <div class="port-item p-4 bg-warning border-0" data-toggle="collapse" data-target="#work">
                <i class="fas fa-folder-open fa-2x d-block"></i>
                <span class="d-none d-sm-block">Work</span>
              </div>
              <div class="port-item p-4 bg-danger border-0" data-toggle="collapse" data-target="#contact">
                <i class="fas fa-envelope fa-2x d-block"></i>
                <span class="d-none d-sm-block">Contact</span>
              </div>
            </div>
          </div>
        </div>
       </div>
     </div>
   </header>

   <!-- HOME -->
   <div id="home" class="collapse show">
     <div class="card card-body bg-primary text-white py-5 border-0">
       <h2>Welcome To My Portfolio</h2>
       <p class="lead">Hi! I'm Jonathan, and I have a deep love of designing and implementing solutions for business workflow by integrating new and popular technologies.</p>
       <p>I love the efficiency of a great company with excellent strategies. I tend to gravitate towards opportunities that reward hard work and acknowledge my desire to optimize my earnings, and expand my experience and knowledge.</p>
       <p>Outside of work, you can always find me trying new restaurants, enjoying a long audio book, digging into new subjects in online training courses, or researching for my investments.</p>
        
        
     </div>
     <div class="card card-body py-5">
       <h3>My Skills and Certifications</h3>
       <div class="py-3">
        <div class="row mt-3">
          <div class="col-md-4">
           <div class="card text-center h-100">
             <div class="card-header">Programming Language</div>
             <div class="card-body">
              <div class="card-title"><i class="fab fa-python fa-2x"></i> <span class="h5">Python</span></div>
               <p class="card-text">
                 Creating, implementing and deploying solutions for both business and personal projects. 
               </p>
              </div>
             <div class="card-footer text-muted">
              <div class="progress mb-3">
                <div class="progress-bar bg-success" style="width: 100%;">
                </div>
              </div>
            </div>
           </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center h-100">
              <div class="card-header">Framework</div>
              <div class="card-body">
                <div class="card-title"><a href="https://www.djangoproject.com/"><img class="img-fluid" src="https://static.djangoproject.com/img/logos/django-logo-negative.png" style="width: 30%;"></a></div>
                <p class="card-text">
                  Quickly take applications from concept to completion while implementing industry standard security features.
                </p>
              </div>
              <div class="card-footer text-muted">
                <div class="progress mb-3">
                  <div class="progress-bar bg-success" style="width: 100%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center h-100">
              <div class="card-header">Framework</div>
              <div class="card-body">
                <div class="card-title"><a href="https://www.django-rest-framework.org/"><img class="img-fluid" src="https://www.django-rest-framework.org/img/logo.png" style="width: 40%;"></a></div>
                <p class="card-text">
                  Build powerful and flexible Web APIs to be consumed with GraphQL or standard API calls.
                </p>
              </div>
              <div class="card-footer text-muted">
                <div class="progress mb-3">
                  <div class="progress-bar bg-success" style="width: 100%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
           <div class="card text-center h-100">
             <div class="card-header">Programming Language</div>
             <div class="card-body">
              <div class="card-title"><i class="fab fa-js-square fa-2x"></i> <span class="h5"> Javascript</span></div>
               <p class="card-text">
                 Create and implement forms and other dynamic web components. Utilize powerful third party APIs to meet project needs.
               </p>
              </div>
             <div class="card-footer text-muted">
              <div class="progress mb-3">
                <div class="progress-bar bg-success" style="width: 80%;">
                </div>
              </div>
            </div>
           </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center h-100">
              <div class="card-header">CSS Framework</div>
              <div class="card-body">
                <div class="card-title"><i class="bi bi-bootstrap-fill" style="font-size: 2rem;"></i><span class="h5"> Bootstrap</span></div>
                <p class="card-text">
                  Quickly take applications from concept to completion while implementing industry standard security features.
                </p>
              </div>
              <div class="card-footer text-muted">
                <div class="progress mb-3">
                  <div class="progress-bar bg-success" style="width: 100%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center h-100">
              <div class="card-header">Certification</div>
              <div class="card-body">
                <div class="card-title"><a href="https://verify.openedg.org/?id=FSjE.bFHw.NMSY"><img class="img-fluid" src="https://edube.org/assets/images/open_edg_logo.png" style="width: 40%;"></a></div>
                <p class="card-text">
                  PCEP – Certified Python Programmer certification is a professional credential that measures the ability to accomplish coding tasks related to the essentials of programming in the Python language.
                </p>
              </div>
              <div class="card-footer text-muted">
                <div class="progress mb-3">
                  <div class="progress-bar bg-success" style="width: 100%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
     </div>
     
   </div>

    <!-- RESUME -->
    <div id="resume" class="collapse">
      <div class="card card-body bg-success text-white py-5 border-0">
        <h2>Resume</h2>
      </div>
      <div class="card card-body py-5">
        <h3>Experience</h3>
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Tilted LLC</h4>
                <p class="card-text">Full stack Python/Django Web Developer
                  Create, implement and edit Django tests, templates, models and views with compliant HTML5/CSS3, JavaScript and other industry API integration, such as Stripe. Participating in architectural, design and product discussions. Designing and creating RESTful APIs for internal and partner consumption. Use Git repositories and configure development environments running Django projects. Model and implement intricate data structures in PostgreSQL</p>
                <p class="card-text">Tilted LLC manages ecommerce web properties and develops marketplace web applications.</p>
                <p class="p-2 mb-3 bg-dark text-white">
                  Position: Full Stack Web Developer
                </p>
              </div>
              <div class="card-footer">
                <h6 class="text-muted">Dates: 2020-Current</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Wasatch Poker Tour</h4>
                <p class="card-text">POC for client venues. Handled client problem escalations.
                Management of venue event staffing using a pool of independent contractors for weekly and nightly bar/restaurant events, charity tournaments and promotions.
                Developed online leaderboard and registration tracking using PHP/SQL.
                Integrated client billing and reporting using new leaderboard and registration data.</p>
                <p class="p-2 mb-3 bg-dark text-white">
                  Position: Operations Manager
                </p>
              </div>
              <div class="card-footer">
                <h6 class="text-muted">Dates: 2020-2021</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Denials Management, Inc</h4>
                <p class="card-text">Managed PIP medical billing team tasked with submitting claims to auto insurance providers for reimbursement. Process and automation development using Visual Studio and third party libraries. Reduced labor costs by automating common daily tasks and developed automated data collection by integrating with Denials Management client's systems. Successfully cut down training time through the development of a unique employee training program, which reduced employee errors and increased retention rates</p>
                <p class="p-2 mb-3 bg-dark text-white mt-auto">
                  Position: Senior Project Manager
                </p>
              </div>
              <div class="card-footer">
                <h6 class="text-muted">Dates: 2003-2010</h6>
              </div>
            </div>
          </div>
          

          

          
        </div>
      </div>
    </div>

   <!-- WORK -->
   <div id="work" class="collapse">
    <div class="card card-body bg-warning text-white py-5 border-0">
      <h2 class="pb-3">My Projects</h2>
      <h5 class="pt-2">Check out my sources using the links below:</h5>
      <div class="row no-gutters px-1">
        <div class="col-md-6">
          <div class="row no-gutters">
            <div class="col">'
              <a href="{{url_for('static', filename='img/workbound.jpg')}}" data-toggle="lightbox">
              <img class="img-fluid" src="{{url_for('static', filename='img/workbound-sm.jpg')}}" alt=""></div>
            </a>
          </div>
          <div class="row m-3">
            <div class="col text-center">
              <p>A workflow management API build using Django and Django REST Framework.</p>
              <a class="btn btn-large btn-outline-light" href="https://github.com/joncovington/workbound-api">Workbound API</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row no-gutters">
            <div class="col">'
              <a href="{{url_for('static', filename='img/leaguebox.jpg')}}" data-toggle="lightbox">
              <img class="img-fluid" src="{{url_for('static', filename='img/leaguebox-sm.jpg')}}" alt=""></div>
            </a>
          </div>
          <div class="row m-3">
            <div class="col text-center">
              <p>A poker league management and marketplace application build with Django.</p>
              <a class="btn btn-large btn-outline-light" href="https://bitbucket.org/joncovington/leaguebox/">LeagueBox</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters px-1 justify-content-md-center">
        <div class="col-md-auto">
          <div class="row no-gutters">
            <div class="col">'
              <a href="{{url_for('static', filename='img/portfolio.jpg')}}" data-toggle="lightbox">
              <img class="img-fluid" src="{{url_for('static', filename='img/portfolio-sm.jpg')}}" alt=""></div>
            </a>
          </div>
          <div class="row m-3">
            <div class="col text-center">
              <p>Take a look at the source for this portfolio! Built with Flask, Bootstrap 4 and JQuery</p>
              <a class="btn btn-large btn-outline-light" href="https://github.com/joncovington/workbound-api">Jon Covington Portfolio</a>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>


   <div id="contact" class="collapse">
    <div class="card card-body bg-danger text-white py-5 border-0">
      <h2>Contact Me</h2>
    </div>
    <div id="form-card" class="card card-body py-5">
      <h3>Get In Touch</h3>
      <form method="POST">
        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span id="name-prepend" class="input-group-text bg-danger text-white">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input id="Name" name="Name" type="text" class="form-control bg-dark text-white" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span id="email-prepend" class="input-group-text bg-danger text-white">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <input id="Email" name="Email" type="text" class="form-control bg-dark text-white" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span id="message-prepend" class="input-group-text bg-danger text-white">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </div>
            <textarea id="Message" name="Message" class="form-control bg-dark text-white" placeholder="Message"></textarea>
          </div>
        </div>
        <button id="submit" class="btn btn-danger btn-block btn-lg">Submit</button>
      </form>
    </div>
   </div>


   <!-- FOOTER -->
   <footer id="main-footer" class="p-5 bg-dark text-white">
     <div class="row">
       <div class="col-md-6">
         <a href="{{url_for('static', filename='docs/Jonathan-Covington-Resume-2021.pdf')}}" class="btn btn-outline-light">
          <i class="fas fa-fil-invoice"></i> Download Resume
        </a>
       </div>
     </div>
   </footer>
 </div>
  <!--MESSAGE MODAL-->
  <div id="thankyou" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">A Message From Jon:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="message"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <script>
    $('.port-item').click(function (){
      $('.collapse').collapse('hide');
    });

    $(document).on('click', '[data-toggle="lightbox"]', function(e) {
      e.preventDefault();
      $(this).ekkoLightbox();
    });
    $(document).ready(function() {
      
      $('#submit').prop('disabled', true)
      
      var nameValid = false
      $('#Name').on('input', function() {
        if ($(this).val()) {
          $('#name-prepend').removeClass('bg-danger')
          $('#name-prepend').addClass('bg-success')
          nameValid = true
        } else {
          $('#name-prepend').removeClass('bg-success')
          $('#name-prepend').addClass('bg-danger')
          nameValid = false
        }
      });
      
      var emailValid = false
      $('#Email').on('input', function() {
        if ($(this).val()) {
          var mailformat = /^\w+([\.-]?\w+)+@\w+([\.:]?\w+)+(\.[a-zA-Z0-9]{2,3})+$/;
          if($(this).val().match(mailformat)){
            $('#email-prepend').removeClass('bg-danger')
            $('#email-prepend').addClass('bg-success')
            emailValid = true
          } else {
            $('#email-prepend').removeClass('bg-success')
            $('#email-prepend').addClass('bg-danger')
            emailValid = false
          }
        } else {
          $('#email-prepend').removeClass('bg-success')
          $('#email-prepend').addClass('bg-danger')
          emailValid = false
        }
      });

      var messageValid = false
      $('#Message').on('input', function() {
        if ($(this).val()) {
          $('#message-prepend').removeClass('bg-danger')
          $('#message-prepend').addClass('bg-success')
          messageValid = true
        } else {
          $('#message-prepend').removeClass('bg-success')
          $('#message-prepend').addClass('bg-danger')
          messageValid = false
        }
      });

      $('.form-control').on('input', function() {
        if(emailValid && nameValid && messageValid) {
          $('#submit').prop('disabled', false)
        } else {
          $('#submit').prop('disabled', true)
        }
      })
      
      
      
      $("#submit").on('click', function (e) {
        e.preventDefault();
        var csrf_token = "{{ csrf_token() }}";
        $(this).prop('disabled', true)
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
          }
        });
        grecaptcha.ready(function() {
          grecaptcha.execute('6LeJ0BAbAAAAAOW7T4kwpxNCKmwXtnUua1eior5-', {action: 'submit'}).then(function(token) {
            console.log(token)
            $.ajax({
              type: "POST",
              url: "/_send_mail",
              data: JSON.stringify(
                {
                  'name': $('#Name').val(),
                  'email': $('#Email').val(),
                  'message': $('#Message').val(),
                  'token': token
                }

              ),
              contentType: "application/json",
              success: function(response) {
                    $("#message").text(response['message'])
                    $('#thankyou').modal('show');
                    $('#form-card').hide()
                  },
                  error: function(error) {
                    $("#message").text('So sorry, there seems to have been an error')
                    console.log(error);
                  }
              });
            });
        });
        
        
        });
    });
  </script>
</body>

</html>